.container {
	display: flex;
	flex: 1;
	height: 100%;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.badge-panel {
	display: flex;
	gap: 6px;
	flex-wrap: wrap;
}

.column-container {
	display: flex;
	flex-direction: column;
	gap: 6px;
	justify-content: center;
}
